/* Avatar */
.avatar-wrapper {
    padding: 0 1em;
    padding-top: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts li a.mail:hover {
    color: #bf3a2c;
}

.divider.fat {
    border-top: 0.3571428571428571em solid #e5b68b;
    width: 33%;
}
